version: "3.7"
volumes:
  admin-node_modules:

services:

  # node apps
  admin:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: reshub-admin
    environment:
      - COMMAND=${COMMAND:-start}
    env_file:
      - reshub-deploy/.env.dev
    image: reshub-admin
    ports:
      - 8080:3000
    volumes:
      - ./app:/app
      - admin-node_modules:/app/node_modules
    tty: true