version: "3.7"

services:

  # admin
  admin:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: reshub-admin
    environment:
      - COMMAND=${COMMAND:-dev}
    env_file:
      - reshub-deploy/.env.dev
    image: reshub-admin
    ports:
      - "8080:3000"
    volumes:
      - ./app:/app
    tty: true